<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <title>Spring Boot List File</title>
</head>
<body>
<div align="center">

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <table id="example" class="table table-bordered" style="width: 100%">
          <thead>
          <tr>
            <th> Nombre </th>
            <th> Tamanio </th>
          </tr>
          </thead>
          <tbody>
          <tr th:if="${images.isEmpty()}">
            <td colspan="2"> No hay imagenes cargadas </td>
          </tr>
          <tr th:each="image : ${images}">
            <td><span th:text="${image.key}"> Nombre </span></td>
            <td><span th:text="${image.size}"> Tamanio </span></td>
            <td>
              <form method="POST" th:action="@{'/delete/' + ${image.key}}">
                <button type="submit" name="submit" value="value" class="link-button">Eliminar</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <p style="text-align: center">
    <a href="/" th:href="@{/}" class="btn btn-large btn-success">Volver</a>
  </p>
</div>


</body>
</html>