<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:href="@{/style.css}" rel="stylesheet" />
  <title>Spring Boot File Upload to S3</title>
</head>
<body>
<div align="center">
  <div><h3>[[${message}]]</h3></div>
  <p style="text-align: center">
    <a href="/" th:href="@{/}" class="btn btn-large btn-success">Volver</a>
  </p>
</div>


</body>
</html>