<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link th:href="@{/style.css}" rel="stylesheet" />
  <title>Spring Boot File Upload to S3</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mb-5">
      <div align="center">
        <div><h2>Spring Boot File Upload</h2></div>
        <div>
          <form action="upload" method="post" enctype="multipart/form-data">
            <p>
              Archivo
              <input type="file" name="file" required />
            </p>

            <p>
              <button class="btn btn-large btn-success" type="submit">Subir a S3</button>
              <a href="/list" th:href="@{/list}" class="btn btn-large btn-success">Listar imagenes</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>